<!DOCTYPE html>
<html lang="en">
    <head>
        <meta id="input_data" w_in="0" x_in="0" y_in="0" z_in="0">
        <meta charset="utf-8" />

        <!-- Rel path to socketio, works offline -->
        <script src="{{ url_for('static', filename='libjs/socket.io.min.js') }}"></script>

        <script src="{{ url_for('static', filename='scripts/interface.js') }}"></script>
        <script src="{{ url_for('static', filename='libjs/webgl_local/webgl-utils.js') }}"></script>
        <script src=" {{ url_for('static', filename='libjs/webgl_local/m4.js') }}"></script>
        <!--<script src="https://webglfundamentals.org/webgl/resources/webgl-utils.js"></script>
        <script src="https://webglfundamentals.org/webgl/resources/m4.js"></script>-->
        
        <!--src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"-->
        <title>WebGL Demo</title>
        <script
            src="{{ url_for('static', filename='libjs/webgl_local/gl-matrix-min.js') }}"
            integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
            crossorigin="anonymous"
            defer>
        </script>

        <!-- This needs to be out here or else Jinja won't be able to find it. -->

        <script>
            const initBuffersURL = "{{ url_for('static', filename='scripts/init-buffers.js') }}";
			const drawSceneURL = "{{ url_for('static', filename='scripts/draw-scene.js') }}";
			const modelURL = "{{ url_for('static', filename='model/rocket_edited.obj') }}";
        </script>

        <script src="{{ url_for('static', filename='scripts/webgl-demo.js') }}" type="module"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    
    </head>
    <body id="information">
        <script>

            const socket = io(); //Create root namespace
            var ct = 0;
            var quaternions = new Array(100).fill(Array(4).fill(-1)); // pre-populate to allow for early/erronious logging

            // WILL BE SENT OVER AT X-FPS, IMMEDIATELY UPDATE VISUALIZATION IN JS-SCOPE
            socket.on("data_send", (response) => {
                    let w = response[0];
                    let x = response[1];
                    let y = response[2];
                    let z = response[3];
                    
                    update(w, x, y, z);
                    updateEulerDisplay();

                    quaternions[ct % 100] = [w, x, y, z];
                    ct++;
            });

        // Function to convert quaternion to Euler angles
        function quaternionToEuler(w, x, y, z) {
            // Calculate Euler angles (roll, pitch, yaw) from quaternion
            const ysqr = y * y;

            // Roll (x-axis rotation)
            const t0 = +2.0 * (w * x + y * z);
            const t1 = +1.0 - 2.0 * (x * x + ysqr);
            const roll = Math.atan2(t0, t1);

            // Pitch (y-axis rotation)
            const t2 = +2.0 * (w * y - z * x);
            t2 = t2 > 1.0 ? 1.0 : t2;
            t2 = t2 < -1.0 ? -1.0 : t2;
            const pitch = Math.asin(t2);

            // Yaw (z-axis rotation)
            const t3 = +2.0 * (w * z + x * y);
            const t4 = +1.0 - 2.0 * (ysqr + z * z);
            const yaw = Math.atan2(t3, t4);

            return { roll, pitch, yaw };
        }

        // Function to update Euler angles display
        function updateEulerDisplay() {
            const w = parseFloat(document.getElementById('wAngle').textContent);
            const x = parseFloat(document.getElementById('xAngle').textContent);
            const y = parseFloat(document.getElementById('yAngle').textContent);
            const z = parseFloat(document.getElementById('zAngle').textContent);

            const eulerAngles = quaternionToEuler(w, x, y, z);

            document.getElementById('rollSpan').textContent = eulerAngles.roll.toFixed(2);
            document.getElementById('pitchSpan').textContent = eulerAngles.pitch.toFixed(2);
            document.getElementById('yawSpan').textContent = eulerAngles.yaw.toFixed(2);
        }


    
        </script>
        
        <div id="angles">
            <h5>Quaternion</h5>
            
            <span id="wAngleLabel">W: </span><span id="wAngle">0</span><br>
            <span id="xAngleLabel">X: </span><span id="xAngle">0</span><br>
            <span id="yAngleLabel">Y: </span><span id="yAngle">0</span><br>
            <span id="zAngleLabel">Z: </span><span id="zAngle">0</span><br>

            <h5>Euler</h5>  

            <span id="rollEulerLabel">Roll: </span><span id="eRoll">0</span><br>
            <span id="pitchEulerLabel">Pitch: </span><span id="e">0</span><br>
            <span id="yawEulerLabel">Yaw: </span><span id="yAngle">0</span><br>
            
            <span id="fpsCounter">FPS:</span><span id="fps">0</span><br>
        </div>


        <canvas id="gl-canvas">
            
        </canvas>
        
        <!-- THESE INVISIBLE ELEMENTS ARE NOT VERY IMPORTANT..? -->
        <input type="hidden" id="w_in">
        <input type="hidden" id="x_in">
        <input type="hidden" id="y_in">
        <input type="hidden" id="z_in">

        <!-- New button at the bottom of the screen -->
        <button id="logDataButton" style="position: fixed; bottom: 10px; right: 10px;">
            Log Data
        </button>

        <script>
            document.getElementById('logDataButton').addEventListener('click', () => {
                const inputData = document.getElementById('input_data');
                

                console.log("PRINTING LAST 100 SAMPLES:");
                for(let i = 0; i < 100; i++) {
                    console.log("w_in:", quaternions[i][0], "x_in:", quaternions[i][1], "y_in:", quaternions[i][2], "z_in:", quaternions[i][3]);
                }

            });
        </script>
    
    </body>
</html>
