<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <title>NJIT Rocket Club</title>
</head>
<body>
    <script>
        const socket = io();

        socket.emit("request_data", {unneeded : "true"}) //starts emissions from back end
        
        socket.on("data_send", (response) => {
            console.log(response);
        });

    </script>
</body>
</html>