<!DOCTYPE html>
<html lang="en">
    <head>
        <meta id="input_data" w_in="0" x_in="0" y_in="0" z_in="0">
        <meta charset="utf-8" />

        <!-- Rel path to socketio, works offline -->
        <script src="{{ url_for('static', filename='libjs/socket.io.min.js') }}"></script>

        <script src="{{ url_for('static', filename='scripts/interface.js') }}"></script>
        <script src="{{ url_for('static', filename='libjs/webgl_local/webgl-utils.js') }}"></script>
        <script src=" {{ url_for('static', filename='libjs/webgl_local/m4.js') }}"></script>
        <!--<script src="https://webglfundamentals.org/webgl/resources/webgl-utils.js"></script>
        <script src="https://webglfundamentals.org/webgl/resources/m4.js"></script>-->
        
        <!--src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"-->
        <title>WebGL Demo</title>
        <script
            src="{{ url_for('static', filename='libjs/webgl_local/gl-matrix-min.js') }}"
            integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
            crossorigin="anonymous"
            defer>
        </script>

        <!-- This needs to be out here or else Jinja won't be able to find it. -->

        <script>
            const initBuffersURL = "{{ url_for('static', filename='scripts/init-buffers.js') }}";
			const drawSceneURL = "{{ url_for('static', filename='scripts/draw-scene.js') }}";
			const modelURL = "{{ url_for('static', filename='model/rocket_edited.obj') }}";
        </script>

        <script src="{{ url_for('static', filename='scripts/webgl-demo.js') }}" type="module"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    
    </head>
    <body id="information">
        <script>

            const socket = io(); //Create root namespace
            var ct = 0;
            var quaternions = [];

            // WILL BE SENT OVER AT X-FPS, IMMEDIATELY UPDATE VISUALIZATION IN JS-SCOPE
            socket.on("data_send", (response) => {
                    let w = response[0];
                    let x = response[1];
                    let y = response[2];
                    let z = response[3];
                    
                    update(w, x, y, z);

                    quaternions[ct % 100] = [w, x, y, z];
                    ct++;
            });
    
        </script>
        <div id="angles">
            <span id="wAngleLabel">W: </span><span id="wAngle">0</span><br>
            <span id="xAngleLabel">X: </span><span id="xAngle">0</span><br>
            <span id="yAngleLabel">Y: </span><span id="yAngle">0</span><br>
            <span id="zAngleLabel">Z: </span><span id="zAngle">0</span><br>
            <span id="fpsCounter">FPS:</span><span id="fps">0</span><br>
        </div>
        <canvas id="gl-canvas">
            
        </canvas>
        
        <!-- THESE INVISIBLE ELEMENTS ARE NOT VERY IMPORTANT..? -->
        <input type="hidden" id="w_in">
        <input type="hidden" id="x_in">
        <input type="hidden" id="y_in">
        <input type="hidden" id="z_in">

        <!-- New button at the bottom of the screen -->
        <button id="logDataButton" style="position: fixed; bottom: 10px; right: 10px;">
            Log Data
        </button>

        <script>
            document.getElementById('logDataButton').addEventListener('click', () => {
                const inputData = document.getElementById('input_data');
                

                console.log("PRINTING LAST 100 SAMPLES:");
                for(let i = 0; i < 100; i++) {
                    console.log("w_in:", quaternions[i][0], "x_in:", quaternions[i][1], "y_in:", quaternions[i][2], "z_in:", quaternions[i][3]);
                }

            });
        </script>
    
    </body>
</html>
